<div *ngIf="message">
    {{ message | async }}
</div>
<br> 
<button (click)="spanishMessage()"> SPANISH </button> &nbsp;
<button (click)="frenchMessage()"> FRENCH </button> &nbsp;
<button (click)="englishMessage()"> ENGLISH </button> 